<div class="container-fluid">{{$user := .user}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3><i class="fa fa-address-card-o"></i> {{$user.username}}（{{$user.given_name}}）</h3>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="/system/profile/info"><LABEL_1176></a></li>
                <li><a href="/system/profile/followUser"><LABEL_1244></a></li>
                <li class="active"><a href="/system/profile/followDoc"><LABEL_1245></a></li>
            </ul>
            <br>
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
                <p><i class="glyphicon glyphicon-volume-up"></i> {{if eq .autoFollowDoc "1"}}<LABEL_1527>、<LABEL_870>，<LABEL_309>！{{end}}<LABEL_28>，<LABEL_1685> <i class="glyphicon glyphicon-remove-circle"></i> <LABEL_1686></p>
            </div>
            {{if eq .count 0}}
            {{else}}
            <table class="table">
                <tbody>
                {{range $followDocument := .followDocuments}}
                <tr>
                    <td>
                        <strong>
                            <a href="/document/index?document_id={{$followDocument.document_id}}" target="_parent"> <i class="fa fa-file-o"></i> {{$followDocument.document_name}} </a>
                        </strong>
                        <span class="text-font-10" style="color: #8e8e8e;">（<LABEL_1012> {{dateFormat $followDocument.update_time "Y-m-d H:i:s"}}）</span>
                    </td>
                <td class="w5p center">
                    <a onclick="Common.ajaxSubmit('/follow/cancel?follow_id={{$followDocument.follow_id}}')" title="<LABEL_1246>"><i class="glyphicon glyphicon-remove-circle"></i></a>
                </td>
                </tr>
                {{end}}
                </tbody>
            </table>
            <div class="center" style="margin-top: 5px">
            {{template "paginator/default.html" .}}
            </div>
        {{end}}
        </div>
    </div>
</div>