<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form action="" method="get">
                    <div class="col-md-2">
                        <button type="button" name="add" data-link="/system/link/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> <LABEL_1181></button>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="<LABEL_1315>">
                            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w8p">ID</th>
                    <th class="w25p"><LABEL_1654></th>
                    <th>url</th>
                    <th class="w10p"><LABEL_1549></th>
                    <th class="w13p"><LABEL_1659></th>
                </tr>
                </thead>
                <tbody>
                {{range $link := .links}}
                <tr>
                    <td class="center">{{$link.link_id}}</td>
                    <td>{{$link.name}}</td>
                    <td><a href="{{$link.url}}" target="_blank">{{$link.url}}</a></td>
                    <td class="center">{{$link.sequence}}</td>
                    <td class="center">
                        <a name="edit" data-link="/system/link/edit?link_id={{$link.link_id}}"><i class="glyphicon glyphicon-edit"></i><LABEL_1663></a>
                        <a onclick="Layers.confirm('<LABEL_1008>？', '/system/link/delete?link_id={{$link.link_id}}');"><i class="glyphicon glyphicon-trash"></i><LABEL_1664></a>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            {{template "paginator/default.html" .}}
        </div>
    </div>
</div>
<script type="text/javascript">
    Layers.bindIframe("button[name='add']", "<LABEL_1181>", "340px", "900px");
    Layers.bindIframe("[name='edit']", "<LABEL_1182>", "340px", "900px");
</script>