<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>{{$user := .user}}
            <div class="row">
                <form class="form-horizontal" method="post" action="/system/user/modify">
                <div class="col-md-6">
                    <input type="hidden" name="user_id" value="{{$user.user_id}}" >
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-3 control-label"><span class="text-danger"> * </span> <LABEL_1522></label>
                        <div class="col-sm-8">
                            <input type="text" name="username" class="form-control" placeholder="<LABEL_882>" value="{{$user.username}}" {{if $user}} readonly="readonly" {{end}}>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-3 control-label"><span class="text-danger"> * </span> <LABEL_1676></label>
                        <div class="col-sm-8">
                            <input type="text" name="given_name" class="form-control" placeholder="<LABEL_1009>" value="{{$user.given_name}}" required>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-3 control-label"><span class="text-danger"> * </span> <LABEL_1678></label>
                        <div class="col-sm-8">
                            <input type="text" name="email" class="form-control" placeholder="<LABEL_1010>" value="{{$user.email}}" required>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-3 control-label"><span class="text-danger"> * </span> <LABEL_1681></label>
                        <div class="col-sm-8">
                            <input type="text" name="mobile" class="form-control" placeholder="<LABEL_869>" value="{{$user.mobile}}" required>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-3 control-label"><span class="text-danger"> * </span> <LABEL_1634></label>
                        <div class="col-sm-8">
                        {{if eq $user.role_id "1"}}
                            {{range $role := .roles}}
                                {{if eq $role.role_id "1"}}
                                    <input type="text" name="role_name" class="form-control" value="{{$role.name}}" readonly="readonly">
                                    <input type="hidden" name="role_id"  value="1" >
                                {{end}}
                            {{end}}
                        {{else}}
                            <select name="role_id" class="form-control">
                            {{range $role := .roles}}
                                <option value="{{$role.role_id}}" {{if eq $role.role_id $user.role_id}} selected {{end}}>{{$role.name}}</option>
                            {{end}}
                            </select>
                        {{end}}
                        </div>
                        </div>
                    </div>
                    <!-- <LABEL_71> -->
                    {{if eq $.login_role_id "1"}}
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label"><span class="text-danger"></span> <LABEL_1674></label>
                                <div class="col-sm-8">
                                    <input type="text" name="password" class="form-control" placeholder="<LABEL_1700>：<LABEL_52>" value="" autocomplete="new-password">
                                </div>
                            </div>
                        </div>
                    {{end}}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-offset-3">
                                &nbsp;&nbsp;<button type="button" onclick="Form.ajaxSubmit(this.form, true);" class="btn btn-primary"><LABEL_1655></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_1680></label>
                        <div class="col-sm-8">
                            <input type="text" name="phone" class="form-control" placeholder="<LABEL_621>" value="{{$user.phone}}">
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_1682></label>
                        <div class="col-sm-8">
                            <input type="text" name="department" class="form-control" placeholder="<LABEL_622>（<LABEL_27>）" value="{{$user.department}}">
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_1677></label>
                        <div class="col-sm-8">
                            <input type="text" name="position" class="form-control" placeholder="<LABEL_623>（<LABEL_1683>PHP<LABEL_1011>）" value="{{$user.position}}">
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_1684></label>
                        <div class="col-sm-8">
                            <input type="text" name="location" class="form-control" placeholder="<LABEL_624>（5<LABEL_1840>B<LABEL_1841>B107）" value="{{$user.location}}">
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="col-sm-2 control-label"><span class="text-danger"></span> IM</label>
                        <div class="col-sm-8">
                            <input type="text" name="im" class="form-control" placeholder="<LABEL_154>（QQ：34512612）" value="{{$user.im}}">
                        </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
       </div>
    </div>
</div>