<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <br>
        <div class="panel-body">
            <form class="form-horizontal" method="post" action="/system/config/modify">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_957></label>
                    <div class="col-sm-4">
                        <input type="text" name="system_version" class="form-control" value="{{.configValue.system_version}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_1218></label>
                    <div class="col-sm-4">
                        <input type="text" name="system_name" class="form-control" value="{{.configValue.system_name}}" placeholder="<LABEL_617>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_1242></label>
                    <div class="col-sm-4">
                        <input type="text" name="main_title" class="form-control" value="{{.configValue.main_title}}" placeholder="<LABEL_618>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_1243></label>
                    <div class="col-sm-4">
                        <textarea name="main_description" class="form-control" rows="4" placeholder="<LABEL_619>">{{.configValue.main_description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_866></label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="auto_follow_doc_open" value="1" {{if eq .configValue.auto_follow_doc_open "1"}} checked="checked" {{end}} placeholder="">
                    </div>
                    <div class="col-sm-3 form-comment">
                        <span class="text-danger"> * <LABEL_21></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_867></label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="send_email_open" value="1" {{if eq .configValue.send_email_open "1"}} checked="checked" {{end}} placeholder="">
                    </div>
                    <div class="col-sm-3 form-comment">
                        <span class="text-danger"> * <LABEL_8></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_868></label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="sso_open" value="1" {{if eq .configValue.sso_open "1"}} checked="checked" {{end}} placeholder="">
                    </div>
                    <div class="col-sm-3 form-comment">
                        <span class="text-danger"> * <LABEL_9></span>
                    </div>
                </div>
{{/*                <div class="form-group">*/}}
{{/*                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_851></label>*/}}
{{/*                    <div class="col-sm-1">*/}}
{{/*                        <input type="checkbox" name="fulltext_search_open" value="1" {{if eq .configValue.fulltext_search_open "1"}} checked="checked" {{end}} placeholder="">*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-sm-3 form-comment">*/}}
{{/*                        <span class="text-danger"> * <LABEL_620>，<LABEL_106></span>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="form-group">*/}}
{{/*                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span><LABEL_852></label>*/}}
{{/*                    <div class="col-sm-1">*/}}
{{/*                        <input type="text" name="doc_search_timer" class="form-control" value="{{.configValue.doc_search_timer}}" placeholder="<LABEL_852>(<LABEL_1837>)">*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-sm-8 form-comment">*/}}
{{/*                        <span class="text-danger"> * <LABEL_620>，<LABEL_66>，<LABEL_1526>（<LABEL_1613> 1h，<LABEL_153>，<LABEL_67>）</span>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Form.ajaxSubmit(this.form, false);" class="btn btn-primary"><LABEL_1655></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("input[type='checkbox']").bootstrapSwitch({
            size: 'small',
            onText: '<LABEL_1838>',
            offText: '<LABEL_1839>'
        });
    });
</script>