<div class="container-fluid">{{$user := .user}}{{$loginUserId := .login_user_id}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3><i class="fa fa-address-card-o"></i> {{$user.username}}（{{$user.given_name}}）</h3>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="/user/info?user_id={{$user.user_id}}"><LABEL_1176></a></li>
                <li class="active"><a href="/user/followUser?user_id={{$user.user_id}}"><LABEL_1244></a></li>
            </ul>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div style="margin: 10px 0 15px 0">
                        <span class="label label-default"><LABEL_1317></span>
                    </div>
                    {{if eq .followCount 0}}
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                        <p><i class="glyphicon glyphicon-volume-up"></i> <LABEL_310>！</p>
                    </div>
                    {{else}}
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="w25p text-left"><strong><LABEL_1522></strong></td>
                            <td class="text-left"><strong><LABEL_1676></strong></td>
                            <td class="text-left"><strong><LABEL_1678></strong></td>
                            <td class="w12p center"><strong><LABEL_1688></strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $user := .users}}
                        <tr>
                            <td>
                                <strong><a href="/user/info?user_id={{$user.user_id}}">{{$user.username}} </strong><span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a>
                            </td>
                            <td>{{$user.given_name}}</td>
                            <td>{{$user.email}}</td>
                            <td class="center">
                                <a onclick="Common.ajaxSubmit('/follow/cancel?follow_id={{$user.follow_id}}')"><i class="glyphicon glyphicon-heart"></i></a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
                <div class="col-md-6">
                    <div style="margin: 10px 0 15px 0">
                        <span class="label label-default"><LABEL_1318></span>
                    </div>
                    {{if eq .fansCount 0}}
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                        <p><i class="glyphicon glyphicon-volume-up"></i> <LABEL_627>！</p>
                    </div>
                    {{else}}
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="w25p text-left"><strong><LABEL_1522></strong></td>
                            <td class="text-left"><strong><LABEL_1676></strong></td>
                            <td class="text-left"><strong><LABEL_1678></strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $fansUser := .fansUsers}}
                        <tr>
                            <td>
                                {{if eq $fansUser.user_id $loginUserId}}
                                <strong><a href="/system/main/index" target="_parent">{{$fansUser.username}} <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a></strong>
                                {{else}}
                                <a href="/user/info?user_id={{$fansUser.user_id}}">{{$fansUser.username}} <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a></strong>
                                {{end}}
                                </td>
                            <td>{{$fansUser.given_name}}</td>
                            <td>{{$fansUser.email}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>