<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h4><i class="fa fa-address-card-o"></i> <LABEL_232></h4>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#ldap" aria-controls="ldap" role="tab" data-toggle="tab">LDAP<LABEL_1665></a></li>
                <li role="presentation"><a href="#http" aria-controls="http" role="tab" data-toggle="tab">HTTP<LABEL_1665></a></li>
            </ul>
            <br>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ldap">
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="w10p"><strong><LABEL_1635>URL</strong></td>
                                <td>
                                    <LABEL_1530>：<code>ldap://ldap.server:port</code> <LABEL_1846> <code>ldaps://ldap.server:port</code>
                                    <LABEL_1693> ldap.server <LABEL_1847> ldap <LABEL_1016> port <LABEL_1847> ldap <LABEL_1017>;
                                    ldaps <LABEL_1847> ssl <LABEL_1531> ldap;<br>
                                    <LABEL_1694>：<code>ldap://ldap.itd.umich.edu:389;</code> <code>ldaps://ldap.itd.umich.edu:636</code>
                                </td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_1263>（<LABEL_1264>）</strong></td>
                                <td><LABEL_313> json <LABEL_1532>，<LABEL_876>
<pre>
{
    "basedn": "cn=dev,dc=mmwiki,dc=com",
    "bind_username": "cn=readonly,dc=mmwiki,dc=com",
    "bind_password": "mmwiki",
	"account_pattern": "(&(objectClass=inetOrgPerson)(uid=%s))",// ldap search pattern; <LABEL_630>，<LABEL_1266>(&(objectClass=inetOrgPerson)(uid=%s))
	"given_name_key": "cn",  // ldap <LABEL_470> key，<LABEL_630>，<LABEL_1507> cn
    "email_key": "mail",
    "mobile_key": "mobile", // ldap <LABEL_471> key，<LABEL_630>
    "phone_key": "telephoneNumber", // ldap <LABEL_631> key，<LABEL_630>
    "department_key": "department", // ldap <LABEL_632> key，<LABEL_630>
    "position_key": "Position", // ldap <LABEL_633> key，<LABEL_630>
    "location_key": "physicalDeliveryOfficeName", // ldap <LABEL_634> key，<LABEL_630>
    "im_key": "im" // ldap <LABEL_1695> im <LABEL_1018> key，<LABEL_630>
}
</pre>
                                    <LABEL_1694>：<code>{"basedn":"dc=umich,dc=edu","bind_username":"readonly","bind_password":"password","given_name_key":"displayName","email_key":"mail","mobile_key":"mobile","phone_key":"telephoneNumber","department_key":"department","position_key":"Position","location_key":"physicalDeliveryOfficeName","im_key":"im"}</code>
                                </td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_1267></strong></td>
                                <td>
                                    <LABEL_472> <code>json</code> <LABEL_1019>，<LABEL_314>;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="http">
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="w10p"><strong><LABEL_1635>URL</strong></td>
                                <td>
                                    <LABEL_156> http/https <LABEL_1533> url
                                    <LABEL_1696>：<code>http://mmWiki.com/login</code> <LABEL_1846> <code>https://mmWiki.com/login</code>
                                    <a target="_blank" href="https://github.com/phachon/mm-wiki/blob/master/docs/examples/auth_login/http_login.php">
                                        <i class="fa fa-share"></i> PHP <LABEL_877>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_1263>（<LABEL_1264>）</strong></td>
                                <td>
                                    <LABEL_473>；<LABEL_10>，<LABEL_1020> source=mm-wiki
                                </td>
                            </tr>
                            <tr>
                                <td><strong>URL<LABEL_1268></strong></td>
                                <td><code>POST</code>; MM-Wiki <LABEL_1697> POST <LABEL_635>（<LABEL_1848>Content-Type: application/x-www-form-urlencoded）<LABEL_315>；<LABEL_1534> URL <LABEL_1269> POST <LABEL_1698></td>
                            </tr>
                            <tr>
                                <td>URL<LABEL_1270></td>
                                <td>
                                    <LABEL_1271> MM-Wiki <LABEL_1849> POST <LABEL_316> URL <LABEL_317>
<pre>
username: <LABEL_1522> string; <LABEL_69>;
password: <LABEL_1674> string; <LABEL_107>;
ext_data: <LABEL_474> string; <LABEL_70>（<LABEL_1264>）
</pre>
                                    <LABEL_1694>：<code>username=mm-wiki&password=111111&ext_data=mm-wiki</code>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>URL<LABEL_1272></strong></td>
                                <td>
                                    MM-Wiki <LABEL_475>，<LABEL_3> json <LABEL_1609>，<LABEL_878>：
                                    <li>
                                        <strong><LABEL_1273></strong>
<pre>
{
     // <LABEL_879>，<LABEL_1274>，<LABEL_1275>，<LABEL_1276>
    "message": "",
    // <LABEL_476>，<LABEL_157>
    "data": {
        "given_name": "<LABEL_1535>", // <LABEL_1277>，string，<code><LABEL_1117></code>
        "mobile": "111111111111", // <LABEL_1021>，string，<LABEL_1278>
        "phone": "010-9929921", // <LABEL_1279>，string，<LABEL_1278>
        "email": "root@mmWiki.com", // <LABEL_1280>，string，<code><LABEL_1117></code>
        "department": "<LABEL_29>", // <LABEL_880>，string，<LABEL_1278>
        "position": "<LABEL_1683>JAVA<LABEL_1011>", // <LABEL_1677>，string，<LABEL_1278>
        "location": "B<LABEL_1850>32<LABEL_1840>E<LABEL_1841>1002", // <LABEL_1281>，string，<LABEL_1278>
        "im": "QQ：12211", // <LABEL_881>，string，<LABEL_1278>
    }
}
</pre>
                                    </li>
                                    <li>
                                        <strong><LABEL_1282></strong>
<pre>
{
     // <LABEL_1283>，<LABEL_636>
    "message": "<LABEL_1284>",
     // <LABEL_1022>
    "data": {}
}
</pre>
                                    </li>
                                </td>
                            </tr>
                            <tr>
                                <td><LABEL_1267></td>
                                <td> http <LABEL_477>：<LABEL_1023>http<LABEL_233>，MM-Wiki <LABEL_4>，
                                    <LABEL_318> message <LABEL_478>，<LABEL_1699> data <LABEL_108> MM-Wiki <LABEL_1536>；<LABEL_30>！
                                    <a target="_blank" href="https://github.com/chaiyd/mm-wiki/blob/master/docs/examples/auth_login/http_login.php">
                                        <i class="fa fa-share"></i> PHP <LABEL_877>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>