<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form action="" method="get">
                    <div class="col-md-4">
                        <button type="button" name="add" data-link="/system/auth/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> <LABEL_830></button>
                        <button type="button" name="doc" data-link="/system/auth/doc" class="btn btn-info"><i class="glyphicon glyphicon-list-alt"></i> <LABEL_875></button>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="<LABEL_1262>">
                            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w5p">ID</th>
                    <th class="w13p"><LABEL_1654></th>
<!--                    <th class="w8p"><LABEL_1015></th>-->
                    <th class="w25p"><LABEL_1635>URL</th>
                    <th><LABEL_1263>（<LABEL_1264>）</th>
                    <th class="w8p"><LABEL_1265></th>
                    <th class="w13p"><LABEL_1659></th>
                </tr>
                </thead>
                <tbody>
                {{range $auth := .auths}}
                <tr>
                    <td class="center">{{$auth.login_auth_id}}</td>
                    <td>{{$auth.name}}</td>
<!--                    <td>{{$auth.username_prefix}}</td>-->
                    <td>{{$auth.url}}</td>
                    <td>{{$auth.ext_data}}</td>
                    <td class="center">
                    {{if eq $auth.is_used "1"}}
                    <span class="label label-success"><LABEL_1838></span>
                    {{else}}
                    <span class="label label-danger"><LABEL_1839></span>
                    {{end}}
                    </td>
                    <td class="center">
                        <a name="edit" data-link="/system/auth/edit?login_auth_id={{$auth.login_auth_id}}"><i class="glyphicon glyphicon-edit"></i><LABEL_1663></a>
                        {{if eq $auth.is_used "1"}}{{else}}
                            <a onclick="Layers.confirm('<LABEL_155>？', '/system/auth/used?login_auth_id={{$auth.login_auth_id}}');"><i class="glyphicon glyphicon-ok-circle"></i><LABEL_1692></a>
                        {{end}}
                        <a onclick="Layers.confirm('<LABEL_1008>？', '/system/auth/delete?login_auth_id={{$auth.login_auth_id}}');"><i class="glyphicon glyphicon-trash"></i><LABEL_1664></a>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<script type="text/javascript">
    Layers.bindIframe("button[name='add']", "<LABEL_830>", "400px", "900px");
    Layers.bindIframe("[name='edit']", "<LABEL_831>", "400px", "900px");
    Layers.bindIframe("[name='doc']", "<LABEL_875>", "650px", "1150px");
</script>