<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="group_count_text">{{.normalUserCount}}</div>
                                <div><LABEL_1029></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-primary"><strong><LABEL_1301></strong></span>
                        <span class="pull-right text text-primary"><i class="fa fa-user"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-user-times fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="failed_publish_text">{{.forbiddenUserCount}}</div>
                                <div><LABEL_1030></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-danger"><strong><LABEL_1178></strong></span>
                        <span class="pull-right text-danger"><i class="fa fa-user-times"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="project_count_text">{{.spaceCount}}</div>
                                <div><LABEL_1542></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-warning"><strong><LABEL_1624></strong></span>
                        <span class="pull-right text-warning"><i class="fa fa-cube"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-file-word-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="success_publish_text">{{.documentCount}}</div>
                                <div><LABEL_1543></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-success"><strong><LABEL_1619></strong></span>
                        <span class="pull-right text-success"><i class="fa fa-file-word-o"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-line-chart"></i> <LABEL_485>(<LABEL_1856>)</strong> </div>
                    <div class="panel-body">
                        <div id="docs-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-bar-chart"></i> <LABEL_640></strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-rank"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-pie-chart"></i> <LABEL_641></strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-percent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-bar-chart"></i> <LABEL_890></strong> </div>
                    <div class="panel-body">
                        <div id="docs-collect-rank"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-user"></i> <LABEL_891></strong></div>
                    <div class="panel-body" style="min-height: 370px">
                        <br><br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td><strong><LABEL_1302></strong></td>
                                <td class="w30p center"><strong><LABEL_1303></strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong><LABEL_642></strong></td>
                                <td class="center">{{.todayLoginUserCount}}</td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_486></strong></td>
                                <td class="center">{{.createMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_487></strong></td>
                                <td class="center">{{.editMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_488></strong></td>
                                <td class="center">{{.collectMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong><LABEL_643></strong></td>
                                <td class="center">{{.fansMaxUser.username}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/modules/system/statics.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        Statics.GetDocCountByTime("docs-line", "/system/static/docCountByTime");
        Statics.GetSpaceDocsRank("space-docs-rank", "space-docs-percent", "/system/static/spaceDocsRank");
        Statics.GetCollectDocsRank("docs-collect-rank", "/system/static/collectDocRank");
    });
</script>