<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-9">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="<LABEL_1295>">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w8p">ID</th>
                <th><LABEL_1654></th>
                <th class="w8p"><LABEL_1656></th>
                <th class="w15p"><LABEL_1288></th>
                <th class="w20p"><LABEL_1659></th>
            </tr>
            </thead>
            <tbody>
            {{range $role := .roles}}
            <tr>
                <td class="center">{{$role.role_id}}</td>
                <td>{{$role.name}}</td>
                <td class="center">
                {{if eq $role.type "1"}}
                    <span class="label label-danger"><LABEL_1690></span>
                {{else}}
                    <span class="label label-success"><LABEL_1537></span>
                {{end}}
                </td>
                <td class="center">
                {{dateFormat $role.update_time "Y-m-d H:i:s"}}
                </td>
                <td class="center">
                    {{if eq $role.role_id "1"}}
                     <a name="user" data-link="/system/role/user?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-user"></i><LABEL_1631></a>
                    {{else}}
                    <a name="edit" data-link="/system/role/edit?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-edit" ></i><LABEL_1663></a>
                    <a name="privilege" data-link="/system/role/privilege?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-lock" ></i><LABEL_1708></a>
                    <a name="user" data-link="/system/role/user?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-user" ></i><LABEL_1631></a>
                    {{if eq $role.type "0"}}
                        <a onclick="Layers.confirm('<LABEL_1008>？', '/system/role/delete?role_id={{$role.role_id}}');"><i class="remove glyphicon glyphicon-trash"></i><LABEL_1664></a>
                    {{end}}
                    {{end}}
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{template "paginator/default.html" .}}
    </div>
</div>
</div>
<script type="text/javascript">
    Layers.bindIframe("[name='edit']", "<LABEL_887>", "300px", "800px");
    Layers.bindIframe("[name='privilege']", "<LABEL_1296>", "500px", "1050px");
    Layers.bindIframe("[name='user']", "<LABEL_1297>", "500px", "1000px");
</script>