<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-6">
                    <div class="input-group">
                    </div>
                </div>{{$roleId := .roleId}}
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w8p">ID</th>
                <th class="w15p"><LABEL_1522></th>
                <th><LABEL_1676></th>
                <th class="w15p"><LABEL_1678></th>
                <th class="w11p"><LABEL_1525></th>
                <th class="w8p"><LABEL_1702></th>
                <th class="w15p"><LABEL_1634></th>
                <th class="w10p"><LABEL_1659></th>
            </tr>
            </thead>
            <tbody>
            {{range $user := .users}}
            <tr>
                <td class="center">{{$user.user_id}}</td>
                <td>{{$user.username}}</td>
                <td>{{$user.given_name}}</td>
                <td>{{$user.email}}</td>
                <td class="center">{{$user.mobile}}</td>
                <td class="center">
                {{if eq $user.is_forbidden "1"}}
                    <span class="label label-danger"><LABEL_1703></span>
                {{else}}
                    <span class="label label-success"><LABEL_1704></span>
                {{end}}
                </td>
                <td class="center">
                    <label class="text-info">{{$user.role_name}}</label>
                </td>
                <td class="center">
                    {{if eq $user.user_id "1"}}
                    <LABEL_1853>
                    {{else}}
                        <a onclick="Layers.confirm('<LABEL_72>？', '/system/role/resetUser?user_id={{$user.user_id}}');"><i class="remove glyphicon glyphicon-refresh"></i><LABEL_1294></a>
                    {{end}}
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{template "paginator/default.html" .}}
    </div>
</div>
</div>