<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>{{$email := .email}}
            <form class="form-horizontal" method="post" action="{{if $email}} /system/email/modify {{else}} /system/email/save {{end}}">
                <input type="hidden" name="email_id" value="{{$email.email_id}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1025></label>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" placeholder="<LABEL_234>" value="{{$email.name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1026></label>
                    <div class="col-sm-4">
                        <input type="text" name="host" class="form-control" placeholder="<LABEL_1518> smtp <LABEL_984> host" value="{{$email.host}}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * <LABEL_1539> smtp <LABEL_1540>，<LABEL_1855>：smtp.163.com</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1017></label>
                    <div class="col-sm-4">
                        <input type="text" name="port" class="form-control" placeholder="<LABEL_1518> smtp <LABEL_638>(25)" value="{{$email.port}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1027></label>
                    <div class="col-sm-4">
                        <input type="text" name="sender_address" class="form-control" placeholder="<LABEL_481>" value="{{$email.sender_address}}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * <LABEL_11></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1028></label>
                    <div class="col-sm-4">
                        <input type="text" name="username" class="form-control" placeholder="<LABEL_158>" value="{{$email.username}}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * <LABEL_482>（xxx@163.com <LABEL_1846> xxx）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1298></label>
                    <div class="col-sm-4">
                        <input type="text" name="password" class="form-control" placeholder="<LABEL_235>" value="{{$email.password}}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * <LABEL_639>（qq <LABEL_483>）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> <LABEL_1210>SSL</label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="is_ssl" value="1" {{if $email}} {{if eq $email.is_ssl "1"}} checked="checked" {{end}} {{else}} {{end}} placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_888></label>
                    <div class="col-sm-4">
                        {{if $email}}
                        <input type="text" name="sender_name" class="form-control" placeholder="<LABEL_320>" value="{{if eq $email.sender_name ""}}MM-Wiki{{else}}{{$email.sender_name}}{{end}}">
                        {{else}}
                        <input type="text" name="sender_name" class="form-control" placeholder="<LABEL_320>" value="MM-Wiki">
                        {{end}}
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * <LABEL_484></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"></span> <LABEL_889></label>
                    <div class="col-sm-4">
                        {{if $email}}
                        <input type="text" name="sender_title_prefix" class="form-control" placeholder="<LABEL_321>" value="{{if eq $email.sender_title_prefix ""}}[MM-Wiki]{{else}}{{$email.sender_title_prefix}}{{end}}">
                        {{else}}
                        <input type="text" name="sender_title_prefix" class="form-control" placeholder="<LABEL_321>" value="[MM-Wiki]">
                        {{end}}
                    </div>
                    <input type="hidden" name="emails" value="" />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Email.testSend(this.form, '/system/email/test');" class="btn btn-success"><LABEL_1709></button>
                        <button type="button" onclick="Form.ajaxSubmit(this.form, true);" class="btn btn-primary"><LABEL_1655></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // is_display
        $("input[type='checkbox']").bootstrapSwitch({
            size: 'small',
            onText: '<LABEL_1838>',
            offText: '<LABEL_1839>'
        });
    });
</script>