<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form action="" method="get">
                    <div class="col-md-2">
                        <button type="button" name="add" data-link="/system/email/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> <LABEL_583></button>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="<LABEL_1025>">
                            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w5p">ID</th>
                    <th><LABEL_1654></th>
                    <th class="w18p">smtp<LABEL_1026></th>
                    <th class="w18p"><LABEL_1027></th>
                    <th class="w18p"><LABEL_1522></th>
                    <th class="w8p"><LABEL_1265></th>
                    <th class="w13p"><LABEL_1659></th>
                </tr>
                </thead>
                <tbody>
                {{range $email := .emails}}
                <tr>
                    <td class="center">{{$email.email_id}}</td>
                    <td>{{$email.name}}</td>
                    <td>{{$email.host}}</td>
                    <td>{{$email.sender_address}}</td>
                    <td>{{$email.username}}</td>
                    <td class="center">
                    {{if eq $email.is_used "1"}}
                    <span class="label label-success"><LABEL_1838></span>
                    {{else}}
                    <span class="label label-danger"><LABEL_1839></span>
                    {{end}}
                    </td>
                    <td class="center">
                        <a name="edit" data-link="/system/email/edit?email_id={{$email.email_id}}"><i class="glyphicon glyphicon-edit"></i><LABEL_1663></a>
                        {{if eq $email.is_used "1"}}{{else}}
                            <a onclick="Layers.confirm('<LABEL_109>？', '/system/email/used?email_id={{$email.email_id}}');"><i class="glyphicon glyphicon-ok-circle"></i><LABEL_1692></a>
                        {{end}}
                        <a onclick="Layers.confirm('<LABEL_1008>？', '/system/email/delete?email_id={{$email.email_id}}');"><i class="glyphicon glyphicon-trash"></i><LABEL_1664></a>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<script type="text/javascript">
    Layers.bindIframe("button[name='add']", "<LABEL_583>", "560px", "970px");
    Layers.bindIframe("[name='edit']", "<LABEL_584>", "560px", "970px");
</script>