<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">{{$spaceId := .space_id}}{{$otherUsers := .otherUsers}}
                <form action="/system/space_user/save" method="post">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon"> <LABEL_1314></span>
                            <select name="privilege" class="form-control selectpicker show-menu-arrow"
                                    data-max-options="1">
                                <option value="0"><LABEL_1546></option>
                                <option value="1"><LABEL_1547></option>
                                <option value="2"><LABEL_1513></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select name="user_id" class="form-control selectpicker show-menu-arrow"
                                    multiple data-live-search="true"
                                    data-max-options="1"
                                    title="<LABEL_491>">
                            {{range $otherUser := $otherUsers}}
                                <option title="{{$otherUser.username}}({{$otherUser.given_name}})" value="{{$otherUser.user_id}}">{{$otherUser.username}}({{$otherUser.given_name}})</option>
                            {{end}}
                            </select>
                            <input type="hidden" name="space_id" value="{{$spaceId}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="Form.ajaxSubmit(this.form, false);"><i class="glyphicon glyphicon-plus"></i> <LABEL_1713> </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w8p">ID</th>
                    <th class="w15p"><LABEL_1522></th>
                    <th><LABEL_1676></th>
                    <th class="w20p"><LABEL_1678></th>
                    <th class="w15p"><LABEL_1314></th>
                    <th class="w13p"><LABEL_1659></th>
                </tr>
                </thead>
                <tbody>
                {{range $user := .users}}
                <tr>
                    <td class="center">{{$user.user_id}}</td>
                    <td>{{$user.username}}</td>
                    <td>{{$user.given_name}}</td>
                    <td>{{$user.email}}</td>
                    <td class="center" style="padding: 4px 6px">
                        <select name="edit_privilege" class="form-control input-xs" data-link="/system/space_user/modify?space_user_id={{$user.space_user_id}}&user_id={{$user.user_id}}&space_id={{$spaceId}}">
                            <option title="<LABEL_1546>" value="0" {{if eq $user.space_privilege "0"}} selected="selected" {{end}}><LABEL_1546></option>
                            <option title="<LABEL_1548>" value="1" {{if eq $user.space_privilege "1"}} selected="selected" {{end}}><LABEL_1547></option>
                            <option title="<LABEL_1513>" value="2" {{if eq $user.space_privilege "2"}} selected="selected" {{end}}><LABEL_1513></option>
                        </select>
                    </td>
                    <td class="center">
                        <a onclick="Layers.confirm('<LABEL_322>？', '/system/space_user/remove?space_user_id={{$user.space_user_id}}&space_id={{$spaceId}}&user_id={{$user.user_id}}');"><i class="glyphicon glyphicon-remove-circle"></i><LABEL_1686></a>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            {{template "paginator/default.html" .}}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
       $("select[name='edit_privilege']").each(function () {
           $(this).bind('change', function () {
               var url = $(this).attr("data-link");
               var privilege = this.value;
               url += "&privilege="+privilege;
               Common.ajaxSubmit(url)
           })
       });
    });
</script>