<div class="container-fluid" style="height: 100%">
    <form id="page_form" action="/page/modify" method="post" style="height: 98%" onsubmit="return false">
    <div class="row">{{$pageContent := .page_content}}{{$document := .document}}
        <div class="col-md-12">
            <input type="hidden" name="document_id" value="{{$document.document_id}}">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" name="name" class="form-control" placeholder="<LABEL_604>" value="{{$document.name}}" {{if eq $document.parent_id "0"}} readonly="readonly" {{end}}>
                </div>
                <div class="col-md-2 text-center" >
                    <button type="button" class="btn btn-primary" onclick="Page.ajaxSave(this.form, {{.sendEmail}}, {{.autoFollowDoc}})"><i class="fa fa-save"></i> <LABEL_1655></button>
                    <button type="button" class="btn btn-default" onclick="Page.cancelSave('<LABEL_236>?', '/document/index?document_id={{$document.document_id}}')"><i class="fa fa-mail-reply"></i> <LABEL_1688></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 98%; padding-top: 8px;">
        <div class="col-md-12" style="height: 98%">
            <div id="document_page_editor" style="height: 98%"></div>
        </div>
    </div>
    </form>
</div>
<script type="text/javascript">
    if(parent.layoutClose) {
        parent.layoutClose();
    }
    if(parent.hiddenScrollY) {
        parent.hiddenScrollY();
    }
    var storageId = "mm_wiki_doc_"+{{$document.document_id}}
    $(function() {
        editormd.katexURL = {
            js  : "/static/plugins/editor.md/lib/katex/katex.min",
            css : "/static/plugins/editor.md/lib/katex/katex.min"
        };
        var editor = editormd("document_page_editor", {
            width: "100%",
            // height: height,
            path : '/static/plugins/editor.md/lib/',
            toolbarIcons : function() {
                // Using "||" set icons align right.
                return [
                    "sidebar", "save", "|",
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "attachment", "code", "preformatted-text", "code-block", "table", "datetime", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "search", "|",
                    "help"
                ]
            },
            // <LABEL_493>
            toolbarCustomIcons : {
                sidebar   : '<a onclick="parent.layoutToggle()" title="<LABEL_651>"><i class="fa fa-columns item"></i></a>',
                save : "<a onclick="+'Page.ajaxSave("#page_form")'+" title='<LABEL_1319>'><i class='fa fa-save'></i></a>",
                attachment : '<a onclick="Page.attachment({{$document.document_id}})" title="<LABEL_1145>"><i class="fa fa-paperclip item"></i></a>'
            },
            theme : "default",
            previewTheme : "default",
            editorTheme : "default",
            markdown : {{$pageContent}},
            codeFold : true,
            placeholder: "<LABEL_1186> MM-Wiki，<LABEL_1516> Markdown <LABEL_1320>！",
            //syncScrolling : false,
            // <LABEL_1655> HTML <LABEL_1857> Textarea
            saveHTMLToTextarea: false,
            searchReplace: true,
            // <LABEL_896>
            //watch : false,
            // <LABEL_1716> HTML <LABEL_1321>，<LABEL_1036>，<LABEL_1037>
            // htmlDecode : "style,script,iframe|on*,alert",
            // <LABEL_1716> HTML <LABEL_1321>，<LABEL_1036>，<LABEL_1037>
            // htmlDecode : "style,script,iframe,sub,sup,embed,img|on*",
            //<LABEL_1038>
            //toolbar  : false,
            // <LABEL_1322> HTML <LABEL_897>，<LABEL_1323>
            //previewCodeHighlight : false,
            emoji : false,
            taskList : true,
            tocm : true,                  // Using [TOCM]
            tex : true,                   // <LABEL_898>TeX<LABEL_1324>，<LABEL_1325>
            flowChart : true,             // <LABEL_652>，<LABEL_1325>
            sequenceDiagram : true,       // <LABEL_1326>/<LABEL_1039>，<LABEL_1040>
            //dialogLockScreen : false,   // <LABEL_160>，<LABEL_1327>，<LABEL_1507>true
            //dialogShowMask : false,     // <LABEL_32>，<LABEL_1327>，<LABEL_1507>true
            //dialogDraggable : false,    // <LABEL_110>，<LABEL_1327>，<LABEL_1507>true
            //dialogMaskOpacity : 0.4,    // <LABEL_161>，<LABEL_1327>，<LABEL_1266>0.1
            //dialogMaskBgColor : "#000", // <LABEL_111>，<LABEL_1327>，<LABEL_1507>#fff
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/image/upload?document_id={{$document.document_id}}",
            onload : function() {
                var docStorage = Storage.get(storageId);
                if (docStorage !== "") {
                    layer.confirm("<LABEL_33>？", {
                        btn: ['<LABEL_1838>','<LABEL_1839>'],
                        skin: Layers.skin,
                        btnAlign: 'c',
                        title: "<i class='fa fa-warning'></i><strong> <LABEL_1689></strong>"
                    }, function(index) {
                        editor.setMarkdown(docStorage);
                        layer.close(index)
                    }, function() {});
                }
                // console.log('onload', this);
                // this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();
                //this.setMarkdown("#PHP");
                // todo resize height
                // this.width("100%");
                // this.height(600);
                //this.resize("100%", 640);
            },
            onchange : function() {
                Storage.set(storageId, editor.getMarkdown());
            }
        });
    });

</script>